[submodule "imgui"]
	path = imgui
	url = https://github.com/ocornut/imgui
[submodule "imgui-node-editor"]
	path = imgui-node-editor
	url = https://github.com/thedmd/imgui-node-editor.git
[submodule "imnodes"]
	path = imnodes
	url = https://github.com/Nelarius/imnodes.git
