[submodule "include/imgui"]
	path = include/imgui
	url = https://github.com/ocornut/imgui
[submodule "include/imgui-node-editor"]
	path = include/imgui-node-editor
	url = https://github.com/thedmd/imgui-node-editor
[submodule "include/imnodes"]
	path = include/imnodes
	url = https://github.com/Nelarius/imnodes
[submodule "include/imguizmo"]
	path = include/imguizmo
	url = https://github.com/CedricGuillemet/ImGuizmo.git
[submodule "include/implot"]
	path = include/implot
	url = https://github.com/epezent/implot.git
[submodule "include/ImGuiColorTextEdit"]
	path = include/ImGuiColorTextEdit
	url = https://github.com/BalazsJako/ImGuiColorTextEdit
