[submodule "include/imgui"]
	path = include/imgui
	url = https://github.com/ocornut/imgui
[submodule "include/imgui-node-editor"]
	path = include/imgui-node-editor
	url = https://github.com/thedmd/imgui-node-editor
[submodule "include/imnodes"]
	path = include/imnodes
	url = https://github.com/Nelarius/imnodes
