name: Publish to Maven
on: workflow_dispatch
jobs:
  publish-to-maven:
    name: Publish to Maven
    runs-on: ubuntu-latest
    env:
      NEXUS_UPD_ID: ${{ secrets.RELEASE_NEXUS_UPD_ID }}
      NEXUS_UPD_PASS: ${{ secrets.RELEASE_NEXUS_UPD_PASS }}
      SIGNING_KEY_ID: ${{ secrets.RELEASE_SIGNING_KEY_ID }}
      SIGNING_KEY: ${{ secrets.RELEASE_SIGNING_KEY }}
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2
      
      - name: Set up Repository
        run: |
          chmod +x ./buildSrc/scripts/release.sh
          chmod +x ./gradlew

      - name: Set up Java 17
        uses: actions/setup-java@v1
        with:
          java-version: 17
      
      - name: Release
        run: ./buildSrc/scripts/release.sh
